<div class="header">

  <div class="logo">
    <img src="assets/images/benchmarkpoker_logo.png" alt="logo image">
  </div>

  <div class="logged-in">
    {{#if session.isAuthenticated}}
      <a {{ action 'invalidateSession' }}>Logout</a>
    {{else}}
      <a {{ action 'authenticateSession' }}>Login</a>
    {{/if}}
  </div>

  <h4>Stats You Can See</h4>

</div>

{{x-login}} {{outlet}}

<div class="footer">
  <h5>Benchmark Poker Inc.</h5>
</div>
