<h1># of hands: {{handCount}}</h1>

<ul>
  {{#each size in stackSizes}}
    <li>{{size}}</li>
  {{/each}}
</ul>

<form {{action 'save' on="submit"}} class="form-container">
  {{textarea value=model.newComment.body}}
  <button class="comment-button" type="submit" {{action "saveComment"}}>Submit</button>

</form>

{{outlet}}

<ul>
{{#each comment in model.comments}}
  <li>{{comment.body}}</li>
{{/each}}
</ul>
