<h1># of hands: {{handCount}}</h1>

{{!-- {{chartist-chart options=chartOptions data=stackSizes}} --}}

<ul>
  {{#each size in stackSizes}}
    <li>{{size}}</li>
  {{/each}}
</ul>

<form {{action 'save' on="submit"}} class="form-container">
  {{textarea value=model.newComment.body}}
  <button class="comment-button" type="submit" {{action "saveComment"}}>Submit</button>
</form>

{{outlet}}

<ul>
  {{#each comment in model.comments itemController="comment" }}
    {{#if comment.isEditing}}
      <li>{{input value=comment.model.body}}</li>
      <button class="comment-delete" type="submit" {{action "save" comment}}>Save</button>
    {{else}}
      <li>{{comment.model.body}}</li>
      <button class="comment-edit" type="submit" {{action "edit" comment}}>Edit</button>
      <button class="comment-delete" type="submit" {{action "destroyComment" comment}}>Delete</button>
    {{/if}}
  {{/each}}
</ul>
