<div class="header">
  <div class="header-logo">
  </div>
  <div class="ribbon">
    <div class='login'>
      <a>About |</a>
      <a>Contact |</a>
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession'}}>Logout </a>
      {{else}}
        <a {{ action 'authenticateSession'}}>Login </a>
      {{/if}}

    </div>
  </div>
</div>

{{x-login}}

<div class="top-container">
  <div class="chipsInPlay">
    <h1>Chips in Play Over {{handCount}} Hands</h1>
    <ul>
      {{chartist-chart options=chartOptions type="line" data=stackSizes}}
    </ul>
  </div>

  <div class="preFlopRaise">
    <h1>Aggressive Players Over {{handCount}} Hands</h1>
    <ul>
      {{chartist-chart options=chartOptions type="bar" data=raisers}}
    </ul>
  </div>
</div><!--
<form /*{{action "newFirstName" on="submit"}} class="form-container">
  {{textarea value=newFirstName}}</form>
-->

<div class="commentBox">
  <form {{action "saveComment" on="submit"}} class="form-container">

    <span class="comment-box">{{textarea value=newComment placeholder="Your Message"}}</span>
    <br>
    <button class="comment-button" type="submit">Submit</button>
  </form>
</div>


    <ul>

      {{#each comment in model.comments
     itemController="comment" }}
     <div class="comments">
        {{#if comment.isEditing}}
          <li>{{input value=comment.model.body}}</li>
          <button class="comment-delete" type="submit" {{action "save" comment}}>Save</button>
        {{else}}
          <li>{{comment.model.createdBy.firstName}}</li>
          <li>{{comment.model.body}}</li>
          <button class="comment-edit" type="submit" {{action "edit" comment}}>Edit</button>
          <button class="comment-delete" type="submit" {{action "destroyComment" comment}}>Delete</button>
        {{/if}}
      </div>
      {{/each}}

    </ul>



<footer>
  <div class="footer-container">
    <div class="footer-logo">
    </div>

    <div class="footer-social">
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>GitHub</li>
      </ul>
    </div>
  </div>

</footer>
