<div class="header">
  <div class="header-container">
    <div class="header-logo">
    </div>

      <div class='login'>

        {{#if session.isAuthenticated}}
          <a {{ action 'invalidateSession'}}>Logout</a>
        {{else}}
          <a {{ action 'authenticateSession'}}>Login</a>
        {{/if}}

        {{#link-to 'register'}}
          <a class='login'>Sign-Up</a>
        {{/link-to}}
      </div>

      <div class="header-nav">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
  </div>
</div>

{{x-login}}

<div class="top-container">

  <div class="preFlopRaise">
      <h1># of hands: {{handCount}}</h1>
      <ul>
          {{chartist-chart type="line" data=stackSizes}}
      </ul>
    </div>

  <div class="preFlopRaise">
    <h1># of hands: {{handCount}}</h1>
    <ul>
      {{chartist-chart type="bar" data=raisers}}
    </ul>
  </div>
</div>
<!--
<form /*{{action "newFirstName" on="submit"}} class="form-container">
  {{textarea value=newFirstName}}</form>
-->

<form {{action "saveComment" on="submit"}} class="form-container">
  {{textarea value=newFirstName placeholder="First Name"}}
  <br>
  {{textarea value=newComment placeholder="Your Message"}}
  <br>
  <button class="comment-button" type="submit">Submit</button>
</form>

<ul>
  {{#each comment in model.comments itemController="comment"}}
    {{#if comment.isEditing}}
      <li>{{input value=comment.model.body}}</li>
      <button class="comment-delete" type="submit" {{action "save" comment}}>Save</button>
    {{else}}
      <li>{{comment.model.firstName}}</li>
      <li>{{comment.model.body}}</li>
      <button class="comment-edit" type="submit" {{action "edit" comment}}>Edit</button>
      <button class="comment-delete" type="submit" {{action "destroyComment" comment}}>Delete</button>
    {{/if}}
  {{/each}}
</ul>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
    </div>
    <div class="footer-nav">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>GitHub</li>
      </ul>
    </div>
  </div>

</footer>
