<div class="">
  {{view 'select' content=timeframe}}
  {{view 'select' content=game}}
  {{view 'select' content=structure}}
  {{view 'select' content=limits}}
</div>

<div class="top-container">
  <div class="location">
    {{chartist-chart type="bar" ratio= '.ct-square' data=model.locationData}}

    {{#link-to 'location'}}
      <button>i</button>
    {{/link-to}}
  </div>

  <div class="opponents">
    {{chartist-chart type="bar" ratio= '.ct-square' data=model.opponentsData}}

    {{#link-to 'opponents'}}
      <button>i</button>
    {{/link-to}}
  </div>
</div>


  <div class="bankroll">
    {{chartist-chart type="line" ratio= '.ct-perfect-fourth' data=model.bankrollData}}

    {{#link-to 'bankroll'}}
      <button>i</button>
    {{/link-to}}
  </div>

  <div class="bottom-container">
    <div class="equity">
      {{chartist-chart type="line" ratio= '.ct-square' data=model.equityData}}

      {{#link-to 'equity'}}
        <button>i</button>
      {{/link-to}}
    </div>
  </div>



{{outlet}}
