<div class="">
  {{view 'select' content=timeframe}}
  {{view 'select' content=game}}
  {{view 'select' content=structure}}
  {{view 'select' content=limits}}
</div>

<div class="top-container">
  <div class="chipsInPlay">
    {{chartist-chart type="line" ratio= '.ct-square' data=model.chipsInPlayData}}

    {{#link-to 'chipsInPlay'}}
      <button>i</button>
    {{/link-to}}
  </div>

  <div class="preFlopRaise">
    {{chartist-chart type="bar" ratio= '.ct-square' data=model.preFlopRaiseData}}

    {{#link-to 'preFlopRaise'}}
      <button>i</button>
    {{/link-to}}
  </div>
</div>


{{outlet}}
