<form {{action "saveComment" on="submit"}} class="form-container">
  {{textarea value=newComment}}
  <button class="comment-button" type="submit">Submit</button>
</form>

<ul>
  {{#each comment in model itemController="comment"}}
    {{#if comment.isEditing}}
      <li>{{input value=comment.model.body}}</li>
      <button class="comment-delete" type="submit" {{action "save" comment}}>Save</button>
    {{else}}
      <li>{{comment.model.body}}</li>
      <button class="comment-edit" type="submit" {{action "edit" comment}}>Edit</button>
      <button class="comment-delete" type="submit" {{action "destroyComment" comment}}>Delete</button>
    {{/if}}
  {{/each}}
</ul>
