<div class="">
  {{view 'select' content=timeframe}}
  {{view 'select' content=game}}
  {{view 'select' content=structure}}
  {{view 'select' content=limits}}
</div>

{{chartist-chart type="line" data=model.chartData}}

{{outlet}}
