<div class="">
  {{view 'select' content=timeframe}}
  {{view 'select' content=game}}
  {{view 'select' content=structure}}
  {{view 'select' content=limits}}
</div>

{{chartist-chart type="bar" data=model.chartData}}
{{outlet}}
